#stars {
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 694px 880px #1347ff, 614px 1079px #02ff00, 1780px 30px #ff0300, 523px 1697px #FFF , 652px 843px #FFF , 760px 1341px #FFF , 1792px 162px #FFF , 1226px 1898px #FFF , 1562px 1355px #FFF , 1792px 39px #FFF , 911px 1915px #FFF , 23px 1818px #FFF , 890px 1085px #FFF , 1656px 1884px #FFF , 303px 1623px #FFF , 1177px 1448px #FFF , 314px 161px #FFF , 1762px 922px #FFF , 1726px 1163px #FFF , 1454px 1506px #FFF , 557px 1979px #FFF , 426px 1253px #FFF , 95px 1623px #FFF , 1305px 1832px #FFF , 1205px 370px #FFF , 1691px 532px #FFF , 509px 322px #FFF , 1214px 355px #FFF , 1016px 863px #FFF , 1868px 517px #FFF , 210px 264px #FFF , 802px 100px #FFF , 506px 681px #FFF , 1194px 954px #FFF , 505px 1235px #FFF , 223px 199px #FFF , 1497px 981px #FFF , 1285px 57px #FFF , 1942px 438px #FFF , 1907px 1070px #FFF , 595px 325px #FFF , 778px 370px #FFF , 343px 548px #FFF , 437px 381px #FFF , 1866px 15px #FFF , 559px 1704px #FFF , 1757px 67px #FFF , 524px 1712px #FFF , 491px 505px #FFF , 859px 611px #FFF , 1161px 89px #FFF , 1716px 1263px #FFF , 421px 199px #FFF , 1702px 201px #FFF , 1875px 515px #FFF , 1475px 130px #FFF , 948px 25px #FFF , 269px 1764px #FFF , 1202px 1848px #FFF , 909px 730px #FFF , 553px 1187px #FFF , 217px 1044px #FFF , 1353px 1249px #FFF , 1903px 1709px #FFF , 870px 404px #FFF , 565px 769px #FFF , 1213px 1057px #FFF , 355px 914px #FFF , 893px 1104px #FFF , 394px 142px #FFF , 1200px 230px #FFF , 383px 647px #FFF , 327px 1436px #FFF , 1329px 1506px #FFF , 760px 236px #FFF , 545px 1175px #FFF , 475px 1569px #FFF , 1855px 1519px #FFF , 967px 431px #FFF , 765px 496px #FFF , 1750px 144px #FFF , 1242px 1356px #FFF , 35px 1788px #FFF , 1252px 1267px #FFF , 514px 149px #FFF , 228px 1081px #FFF , 772px 300px #FFF , 1743px 687px #FFF , 1847px 4px #FFF , 692px 1224px #FFF , 1058px 650px #FFF , 440px 1255px #FFF , 39px 984px #FFF , 184px 1457px #FFF , 1275px 1084px #FFF , 847px 868px #FFF , 1613px 191px #FFF , 588px 1227px #FFF , 1172px 1305px #FFF , 1901px 1967px #FFF , 1593px 1548px #FFF , 1485px 1404px #FFF , 1448px 685px #FFF , 479px 324px #FFF , 378px 194px #FFF , 692px 1101px #FFF , 668px 1360px #FFF , 138px 546px #FFF , 1987px 1383px #FFF , 1915px 1215px #FFF , 1060px 1127px #FFF , 669px 1186px #FFF , 1941px 1313px #FFF , 688px 5px #FFF , 1300px 393px #FFF , 241px 135px #FFF , 450px 1685px #FFF , 728px 845px #FFF , 87px 1690px #FFF , 1173px 1606px #FFF , 749px 291px #FFF , 604px 1548px #FFF , 1794px 777px #FFF , 753px 1162px #FFF , 1713px 1553px #FFF , 514px 1676px #FFF , 664px 266px #FFF , 1614px 878px #FFF , 273px 318px #FFF , 487px 1760px #FFF , 581px 1422px #FFF , 1088px 1030px #FFF , 245px 61px #FFF , 118px 781px #FFF , 239px 1689px #FFF , 986px 1188px #FFF , 1646px 521px #FFF , 386px 1500px #FFF , 933px 698px #FFF , 1697px 1265px #FFF , 92px 994px #FFF , 1470px 1280px #FFF , 1063px 30px #FFF , 1274px 1852px #FFF , 1273px 1787px #FFF , 575px 1509px #FFF , 1782px 1325px #FFF , 1507px 1211px #FFF , 147px 1501px #FFF , 962px 684px #FFF , 1997px 387px #FFF , 511px 1637px #FFF , 22px 835px #FFF , 586px 1833px #FFF , 1795px 474px #FFF , 1073px 1439px #FFF , 489px 1696px #FFF , 723px 1714px #FFF , 67px 367px #FFF , 1485px 346px #FFF , 1596px 878px #FFF , 1116px 267px #FFF , 1917px 1247px #FFF , 1756px 285px #FFF , 1054px 1178px #FFF , 1995px 797px #FFF , 1169px 116px #FFF , 1955px 10px #FFF , 431px 128px #FFF , 1412px 102px #FFF , 954px 1455px #FFF , 167px 266px #FFF , 1312px 1307px #FFF , 1218px 1498px #FFF , 529px 1480px #FFF , 1050px 1593px #FFF , 1737px 722px #FFF , 1788px 177px #FFF , 795px 1377px #FFF , 194px 461px #FFF , 723px 1713px #FFF , 752px 551px #FFF , 1939px 109px #FFF , 1799px 1209px #FFF , 309px 1701px #FFF , 956px 298px #FFF , 886px 105px #FFF , 526px 341px #FFF , 1089px 1026px #FFF , 1544px 624px #FFF , 1659px 1750px #FFF , 621px 316px #FFF , 1379px 871px #FFF , 1256px 1381px #FFF , 258px 534px #FFF , 653px 350px #FFF , 62px 786px #FFF , 1060px 169px #FFF , 354px 1572px #FFF , 6px 1621px #FFF , 1365px 1894px #FFF , 615px 976px #FFF , 1054px 1013px #FFF , 301px 1850px #FFF , 1338px 1741px #FFF , 1761px 1433px #FFF , 793px 1920px #FFF , 654px 488px #FFF , 1925px 1633px #FFF , 7px 1789px #FFF , 1958px 499px #FFF , 471px 265px #FFF , 1252px 1269px #FFF , 724px 1px #FFF , 1432px 97px #FFF , 1876px 896px #FFF , 1663px 1859px #FFF , 1551px 433px #FFF , 1070px 1312px #FFF , 536px 1491px #FFF , 645px 609px #FFF , 1133px 872px #FFF , 1329px 893px #FFF , 909px 246px #FFF , 113px 130px #FFF , 120px 1001px #FFF , 1307px 1959px #FFF , 527px 1052px #FFF , 973px 1051px #FFF , 974px 637px #FFF , 267px 1029px #FFF , 526px 1014px #FFF , 662px 1076px #FFF , 1263px 414px #FFF , 1233px 139px #FFF , 1112px 1687px #FFF , 891px 1413px #FFF , 653px 588px #FFF , 1233px 469px #FFF , 1227px 356px #FFF , 1507px 147px #FFF , 247px 514px #FFF , 1636px 399px #FFF , 861px 109px #FFF , 1384px 512px #FFF , 1713px 333px #FFF , 1224px 260px #FFF , 302px 54px #FFF , 1455px 1924px #FFF , 1631px 76px #FFF , 330px 595px #FFF , 1751px 131px #FFF , 582px 1805px #FFF , 1786px 1512px #FFF , 1285px 1667px #FFF , 1649px 1991px #FFF , 1588px 72px #FFF , 858px 1783px #FFF , 939px 888px #FFF , 972px 837px #FFF , 1770px 28px #FFF , 1093px 1499px #FFF , 489px 1407px #FFF , 1615px 1051px #FFF , 899px 611px #FFF , 1772px 686px #FFF , 698px 1296px #FFF , 81px 165px #FFF , 515px 1024px #FFF , 821px 1721px #FFF , 638px 864px #FFF , 1716px 461px #FFF , 138px 1762px #FFF , 13px 893px #FFF , 1996px 143px #FFF , 957px 1078px #FFF , 829px 357px #FFF , 310px 46px #FFF , 1964px 986px #FFF , 277px 1829px #FFF , 1844px 1488px #FFF , 680px 1724px #FFF , 453px 567px #FFF , 1921px 1808px #FFF , 102px 1203px #FFF , 1478px 731px #FFF , 305px 536px #FFF , 1138px 835px #FFF , 1391px 1142px #FFF , 45px 1711px #FFF , 1735px 599px #FFF , 930px 1480px #FFF , 870px 912px #FFF , 1036px 1331px #FFF , 849px 1867px #FFF , 1926px 218px #FFF , 1657px 245px #FFF , 1012px 1549px #FFF , 1476px 20px #FFF , 913px 420px #FFF , 1448px 232px #FFF , 145px 1089px #FFF , 289px 347px #FFF , 606px 449px #FFF , 1531px 590px #FFF , 690px 1085px #FFF , 643px 370px #FFF , 1164px 146px #FFF , 1561px 1108px #FFF , 1449px 79px #FFF , 974px 1695px #FFF , 575px 1536px #FFF , 1807px 501px #FFF , 1514px 685px #FFF , 1470px 1980px #FFF , 1060px 744px #FFF , 14px 223px #FFF , 1434px 1648px #FFF , 1269px 245px #FFF , 195px 625px #FFF , 75px 1293px #FFF , 1474px 204px #FFF , 1022px 1127px #FFF , 1136px 1196px #FFF , 964px 1784px #FFF , 924px 1035px #FFF , 1305px 828px #FFF , 1813px 1435px #FFF , 701px 1560px #FFF , 1461px 189px #FFF , 59px 552px #FFF , 830px 1224px #FFF , 1540px 190px #FFF , 571px 903px #FFF , 1899px 809px #FFF , 755px 27px #FFF , 1877px 299px #FFF , 1054px 448px #FFF , 1007px 1929px #FFF , 1781px 965px #FFF , 355px 1890px #FFF , 1493px 396px #FFF , 588px 1399px #FFF , 457px 1980px #FFF , 935px 484px #FFF , 1754px 454px #FFF , 1667px 1660px #FFF , 1580px 419px #FFF , 35px 644px #FFF , 1664px 1580px #FFF , 986px 706px #FFF , 216px 1334px #FFF , 829px 1446px #FFF , 561px 1879px #FFF , 551px 847px #FFF , 225px 729px #FFF , 778px 956px #FFF , 1470px 1583px #FFF , 1272px 1133px #FFF , 631px 305px #FFF , 1955px 1877px #FFF , 1896px 692px #FFF , 838px 1292px #FFF , 1715px 722px #FFF , 1010px 426px #FFF , 223px 285px #FFF , 185px 19px #FFF , 1536px 951px #FFF , 888px 1107px #FFF , 1967px 1990px #FFF , 1683px 667px #FFF , 978px 684px #FFF , 1362px 347px #FFF , 84px 1700px #FFF , 519px 1714px #FFF , 1110px 881px #FFF , 728px 919px #FFF , 229px 1581px #FFF , 85px 614px #FFF , 64px 1220px #FFF , 1223px 1033px #FFF , 965px 52px #FFF , 86px 1203px #FFF , 279px 69px #FFF , 1589px 1074px #FFF , 1346px 1565px #FFF , 752px 1100px #FFF , 1213px 1479px #FFF , 1632px 685px #FFF , 1122px 115px #FFF , 447px 986px #FFF , 1843px 451px #FFF , 369px 1310px #FFF , 1319px 1315px #FFF , 1957px 1054px #FFF , 196px 85px #FFF , 1356px 1263px #FFF , 745px 1634px #FFF , 583px 556px #FFF , 789px 818px #FFF , 1914px 1422px #FFF , 1138px 1966px #FFF , 940px 210px #FFF , 1589px 1036px #FFF , 825px 1269px #FFF , 664px 1495px #FFF , 726px 744px #FFF , 43px 1953px #FFF , 87px 509px #FFF , 798px 1750px #FFF , 133px 352px #FFF , 676px 1954px #FFF , 98px 388px #FFF , 1685px 370px #FFF , 52px 407px #FFF , 1282px 1929px #FFF , 1024px 1567px #FFF , 547px 842px #FFF , 311px 1164px #FFF , 1121px 130px #FFF , 1830px 339px #FFF , 799px 1792px #FFF , 951px 1346px #FFF , 1581px 1198px #FFF , 1265px 21px #FFF , 672px 321px #FFF , 942px 1393px #FFF , 65px 786px #FFF , 956px 290px #FFF , 806px 1457px #FFF , 417px 1117px #FFF , 101px 798px #FFF , 583px 48px #FFF , 3px 1457px #FFF , 1317px 637px #FFF , 398px 110px #FFF , 701px 955px #FFF , 1968px 971px #FFF , 1753px 819px #FFF , 1523px 1467px #FFF , 468px 301px #FFF , 313px 27px #FFF , 87px 1415px #FFF , 989px 690px #FFF , 464px 143px #FFF , 179px 1562px #FFF , 207px 1126px #FFF , 456px 1715px #FFF , 846px 1716px #FFF , 1554px 1149px #FFF , 973px 1134px #FFF , 519px 1555px #FFF , 1866px 612px #FFF , 261px 1422px #FFF , 699px 1799px #FFF , 1785px 72px #FFF , 595px 1029px #FFF , 1336px 1693px #FFF , 122px 1963px #FFF , 181px 220px #FFF , 1181px 248px #FFF , 1488px 1911px #FFF , 1571px 1790px #FFF , 497px 736px #FFF , 560px 228px #FFF , 1317px 713px #FFF , 586px 493px #FFF , 1745px 898px #FFF , 76px 202px #FFF , 1808px 134px #FFF , 702px 1076px #FFF , 1581px 191px #FFF , 935px 577px #FFF , 1273px 1729px #FFF , 1966px 2000px #FFF , 1662px 724px #FFF , 540px 584px #FFF , 848px 615px #FFF , 1444px 1195px #FFF , 522px 1689px #FFF , 1938px 1740px #FFF , 1735px 537px #FFF , 1765px 584px #FFF , 954px 1674px #FFF , 824px 564px #FFF , 1px 496px #FFF , 1451px 1265px #FFF , 1304px 197px #FFF , 881px 1284px #FFF , 756px 342px #FFF , 1406px 1621px #FFF , 979px 285px #FFF , 1629px 616px #FFF , 237px 911px #FFF , 1259px 206px #FFF , 38px 96px #FFF , 712px 623px #FFF , 136px 608px #FFF , 1244px 1870px #FFF , 372px 1853px #FFF , 500px 947px #FFF , 487px 286px #FFF , 1114px 1839px #FFF , 1349px 1268px #FFF , 1294px 34px #FFF , 1197px 623px #FFF , 672px 1379px #FFF , 1427px 513px #FFF , 690px 1328px #FFF , 1865px 795px #FFF , 632px 447px #FFF , 1511px 58px #FFF , 839px 371px #FFF , 1279px 12px #FFF , 1365px 70px #FFF , 1082px 398px #FFF , 1866px 696px #FFF , 240px 1271px #FFF , 1067px 1595px #FFF , 551px 1307px #FFF , 348px 31px #FFF , 529px 1139px #FFF , 539px 1421px #FFF , 1494px 819px #FFF , 1607px 481px #FFF , 1697px 93px #FFF , 1545px 19px #FFF , 1255px 1953px #FFF , 974px 1711px #FFF , 1345px 213px #FFF , 599px 851px #FFF , 319px 331px #FFF , 371px 448px #FFF , 1288px 1116px #FFF , 841px 502px #FFF , 129px 580px #FFF , 477px 1990px #FFF , 1553px 1331px #FFF , 1856px 881px #FFF , 111px 352px #FFF , 462px 1241px #FFF , 1034px 1195px #FFF , 1641px 1009px #FFF , 872px 975px #FFF , 1651px 427px #FFF , 1391px 1044px #FFF , 454px 1446px #FFF , 1279px 486px #FFF , 302px 1225px #FFF , 308px 368px #FFF , 225px 1404px #FFF , 1013px 1158px #FFF , 423px 1289px #FFF , 1997px 1794px #FFF , 1885px 1582px #FFF , 1835px 1423px #FFF , 970px 1960px #FFF , 235px 1654px #FFF , 462px 645px #FFF , 515px 201px #FFF , 1497px 1872px #FFF , 627px 1067px #FFF , 348px 1916px #FFF , 1188px 1295px #FFF , 141px 1232px #FFF , 1196px 517px #FFF , 335px 338px #FFF , 494px 1873px #FFF , 262px 613px #FFF , 1495px 342px #FFF , 931px 275px #FFF , 1397px 142px #FFF , 1479px 25px #FFF , 45px 1004px #FFF , 1605px 868px #FFF , 662px 235px #FFF , 1334px 687px #FFF , 1355px 432px #FFF , 1233px 1608px #FFF , 1380px 171px #FFF , 694px 964px #FFF , 1259px 1387px #FFF , 450px 1581px #FFF , 1784px 1221px #FFF , 316px 1092px #FFF , 1670px 1857px #FFF , 785px 549px #FFF , 1506px 1947px #FFF , 1630px 1350px #FFF , 463px 1566px #FFF , 697px 1072px #FFF , 1001px 1283px #FFF , 847px 585px #FFF , 840px 168px #FFF , 822px 680px #FFF , 1441px 477px #FFF , 294px 966px #FFF , 906px 1537px #FFF , 1371px 695px #FFF , 1996px 1473px #FFF , 1748px 1155px #FFF , 191px 1599px #FFF , 1084px 128px #FFF , 275px 1350px #FFF , 1461px 1027px #FFF , 418px 1441px #FFF , 1426px 1757px #FFF , 653px 1148px #FFF , 1450px 1035px #FFF , 880px 1002px #FFF , 660px 706px #FFF , 1481px 945px #FFF , 510px 89px #FFF , 298px 1483px #FFF , 1971px 185px #FFF , 1435px 1468px #FFF , 144px 783px #FFF , 594px 969px #FFF , 1985px 1862px #FFF , 838px 814px #FFF , 1921px 997px #FFF , 580px 411px #FFF , 74px 1224px #FFF , 1694px 199px #FFF , 1705px 802px #FFF , 593px 1768px #FFF , 1554px 232px #FFF , 49px 1692px #FFF , 1922px 1059px #FFF , 1436px 1697px #FFF , 1711px 918px #FFF , 720px 881px #FFF , 1216px 705px #FFF , 217px 982px #FFF , 1712px 1052px #FFF , 479px 423px #FFF , 347px 732px #FFF , 1028px 1209px #FFF , 1285px 1508px #FFF , 895px 1907px #FFF , 1682px 125px #FFF , 786px 1124px #FFF , 391px 1816px #FFF , 1076px 190px #FFF , 1933px 1934px #FFF , 1739px 798px #FFF , 365px 1807px #FFF , 371px 1736px #FFF , 1044px 417px #FFF , 259px 1745px #FFF , 1160px 1404px #FFF , 1405px 1332px #FFF , 1479px 332px #FFF , 111px 258px #FFF , 1053px 644px #FFF , 463px 694px #FFF , 1526px 576px #FFF , 376px 755px #FFF , 352px 1328px #FFF , 1025px 275px #FFF , 765px 88px #FFF , 124px 1959px #FFF , 1468px 1303px #FFF , 301px 1537px #FFF , 538px 357px #FFF , 1541px 711px #FFF , 614px 1586px #FFF , 1787px 91px #FFF , 405px 737px #FFF , 1927px 1941px #FFF , 1394px 1307px #FFF , 1086px 1670px #FFF , 338px 802px #FFF , 1308px 1502px #FFF , 1408px 741px #FFF , 27px 1662px #FFF , 448px 1410px #FFF , 359px 1758px #FFF , 1948px 175px #FFF , 1782px 585px #FFF , 146px 1260px #FFF , 1802px 945px #FFF , 428px 1537px #FFF , 1410px 1072px #FFF , 109px 1700px #FFF , 476px 17px #FFF , 1617px 1631px #FFF , 1965px 840px #FFF , 1475px 1462px #FFF , 574px 1617px #FFF , 818px 828px #FFF , 1490px 1295px #FFF , 1491px 1572px #FFF , 1154px 1663px #FFF , 493px 1266px #FFF , 1136px 1121px #FFF , 71px 159px #FFF , 1861px 493px #FFF , 376px 1409px #FFF , 1168px 337px #FFF;
    animation: animStar 50s linear infinite;
}
#stars:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 694px 880px #FFF , 614px 1079px #FFF , 1780px 30px #FFF , 523px 1697px #FFF , 652px 843px #FFF , 760px 1341px #FFF , 1792px 162px #FFF , 1226px 1898px #FFF , 1562px 1355px #FFF , 1792px 39px #FFF , 911px 1915px #FFF , 23px 1818px #FFF , 890px 1085px #FFF , 1656px 1884px #FFF , 303px 1623px #FFF , 1177px 1448px #FFF , 314px 161px #FFF , 1762px 922px #FFF , 1726px 1163px #FFF , 1454px 1506px #FFF , 557px 1979px #FFF , 426px 1253px #FFF , 95px 1623px #FFF , 1305px 1832px #FFF , 1205px 370px #FFF , 1691px 532px #FFF , 509px 322px #FFF , 1214px 355px #FFF , 1016px 863px #FFF , 1868px 517px #FFF , 210px 264px #FFF , 802px 100px #FFF , 506px 681px #FFF , 1194px 954px #FFF , 505px 1235px #FFF , 223px 199px #FFF , 1497px 981px #FFF , 1285px 57px #FFF , 1942px 438px #FFF , 1907px 1070px #FFF , 595px 325px #FFF , 778px 370px #FFF , 343px 548px #FFF , 437px 381px #FFF , 1866px 15px #FFF , 559px 1704px #FFF , 1757px 67px #FFF , 524px 1712px #FFF , 491px 505px #FFF , 859px 611px #FFF , 1161px 89px #FFF , 1716px 1263px #FFF , 421px 199px #FFF , 1702px 201px #FFF , 1875px 515px #FFF , 1475px 130px #FFF , 948px 25px #FFF , 269px 1764px #FFF , 1202px 1848px #FFF , 909px 730px #FFF , 553px 1187px #FFF , 217px 1044px #FFF , 1353px 1249px #FFF , 1903px 1709px #FFF , 870px 404px #FFF , 565px 769px #FFF , 1213px 1057px #FFF , 355px 914px #FFF , 893px 1104px #FFF , 394px 142px #FFF , 1200px 230px #FFF , 383px 647px #FFF , 327px 1436px #FFF , 1329px 1506px #FFF , 760px 236px #FFF , 545px 1175px #FFF , 475px 1569px #FFF , 1855px 1519px #FFF , 967px 431px #FFF , 765px 496px #FFF , 1750px 144px #FFF , 1242px 1356px #FFF , 35px 1788px #FFF , 1252px 1267px #FFF , 514px 149px #FFF , 228px 1081px #FFF , 772px 300px #FFF , 1743px 687px #FFF , 1847px 4px #FFF , 692px 1224px #FFF , 1058px 650px #FFF , 440px 1255px #FFF , 39px 984px #FFF , 184px 1457px #FFF , 1275px 1084px #FFF , 847px 868px #FFF , 1613px 191px #FFF , 588px 1227px #FFF , 1172px 1305px #FFF , 1901px 1967px #FFF , 1593px 1548px #FFF , 1485px 1404px #FFF , 1448px 685px #FFF , 479px 324px #FFF , 378px 194px #FFF , 692px 1101px #FFF , 668px 1360px #FFF , 138px 546px #FFF , 1987px 1383px #FFF , 1915px 1215px #FFF , 1060px 1127px #FFF , 669px 1186px #FFF , 1941px 1313px #FFF , 688px 5px #FFF , 1300px 393px #FFF , 241px 135px #FFF , 450px 1685px #FFF , 728px 845px #FFF , 87px 1690px #FFF , 1173px 1606px #FFF , 749px 291px #FFF , 604px 1548px #FFF , 1794px 777px #FFF , 753px 1162px #FFF , 1713px 1553px #FFF , 514px 1676px #FFF , 664px 266px #FFF , 1614px 878px #FFF , 273px 318px #FFF , 487px 1760px #FFF , 581px 1422px #FFF , 1088px 1030px #FFF , 245px 61px #FFF , 118px 781px #FFF , 239px 1689px #FFF , 986px 1188px #FFF , 1646px 521px #FFF , 386px 1500px #FFF , 933px 698px #FFF , 1697px 1265px #FFF , 92px 994px #FFF , 1470px 1280px #FFF , 1063px 30px #FFF , 1274px 1852px #FFF , 1273px 1787px #FFF , 575px 1509px #FFF , 1782px 1325px #FFF , 1507px 1211px #FFF , 147px 1501px #FFF , 962px 684px #FFF , 1997px 387px #FFF , 511px 1637px #FFF , 22px 835px #FFF , 586px 1833px #FFF , 1795px 474px #FFF , 1073px 1439px #FFF , 489px 1696px #FFF , 723px 1714px #FFF , 67px 367px #FFF , 1485px 346px #FFF , 1596px 878px #FFF , 1116px 267px #FFF , 1917px 1247px #FFF , 1756px 285px #FFF , 1054px 1178px #FFF , 1995px 797px #FFF , 1169px 116px #FFF , 1955px 10px #FFF , 431px 128px #FFF , 1412px 102px #FFF , 954px 1455px #FFF , 167px 266px #FFF , 1312px 1307px #FFF , 1218px 1498px #FFF , 529px 1480px #FFF , 1050px 1593px #FFF , 1737px 722px #FFF , 1788px 177px #FFF , 795px 1377px #FFF , 194px 461px #FFF , 723px 1713px #FFF , 752px 551px #FFF , 1939px 109px #FFF , 1799px 1209px #FFF , 309px 1701px #FFF , 956px 298px #FFF , 886px 105px #FFF , 526px 341px #FFF , 1089px 1026px #FFF , 1544px 624px #FFF , 1659px 1750px #FFF , 621px 316px #FFF , 1379px 871px #FFF , 1256px 1381px #FFF , 258px 534px #FFF , 653px 350px #FFF , 62px 786px #FFF , 1060px 169px #FFF , 354px 1572px #FFF , 6px 1621px #FFF , 1365px 1894px #FFF , 615px 976px #FFF , 1054px 1013px #FFF , 301px 1850px #FFF , 1338px 1741px #FFF , 1761px 1433px #FFF , 793px 1920px #FFF , 654px 488px #FFF , 1925px 1633px #FFF , 7px 1789px #FFF , 1958px 499px #FFF , 471px 265px #FFF , 1252px 1269px #FFF , 724px 1px #FFF , 1432px 97px #FFF , 1876px 896px #FFF , 1663px 1859px #FFF , 1551px 433px #FFF , 1070px 1312px #FFF , 536px 1491px #FFF , 645px 609px #FFF , 1133px 872px #FFF , 1329px 893px #FFF , 909px 246px #FFF , 113px 130px #FFF , 120px 1001px #FFF , 1307px 1959px #FFF , 527px 1052px #FFF , 973px 1051px #FFF , 974px 637px #FFF , 267px 1029px #FFF , 526px 1014px #FFF , 662px 1076px #FFF , 1263px 414px #FFF , 1233px 139px #FFF , 1112px 1687px #FFF , 891px 1413px #FFF , 653px 588px #FFF , 1233px 469px #FFF , 1227px 356px #FFF , 1507px 147px #FFF , 247px 514px #FFF , 1636px 399px #FFF , 861px 109px #FFF , 1384px 512px #FFF , 1713px 333px #FFF , 1224px 260px #FFF , 302px 54px #FFF , 1455px 1924px #FFF , 1631px 76px #FFF , 330px 595px #FFF , 1751px 131px #FFF , 582px 1805px #FFF , 1786px 1512px #FFF , 1285px 1667px #FFF , 1649px 1991px #FFF , 1588px 72px #FFF , 858px 1783px #FFF , 939px 888px #FFF , 972px 837px #FFF , 1770px 28px #FFF , 1093px 1499px #FFF , 489px 1407px #FFF , 1615px 1051px #FFF , 899px 611px #FFF , 1772px 686px #FFF , 698px 1296px #FFF , 81px 165px #FFF , 515px 1024px #FFF , 821px 1721px #FFF , 638px 864px #FFF , 1716px 461px #FFF , 138px 1762px #FFF , 13px 893px #FFF , 1996px 143px #FFF , 957px 1078px #FFF , 829px 357px #FFF , 310px 46px #FFF , 1964px 986px #FFF , 277px 1829px #FFF , 1844px 1488px #FFF , 680px 1724px #FFF , 453px 567px #FFF , 1921px 1808px #FFF , 102px 1203px #FFF , 1478px 731px #FFF , 305px 536px #FFF , 1138px 835px #FFF , 1391px 1142px #FFF , 45px 1711px #FFF , 1735px 599px #FFF , 930px 1480px #FFF , 870px 912px #FFF , 1036px 1331px #FFF , 849px 1867px #FFF , 1926px 218px #FFF , 1657px 245px #FFF , 1012px 1549px #FFF , 1476px 20px #FFF , 913px 420px #FFF , 1448px 232px #FFF , 145px 1089px #FFF , 289px 347px #FFF , 606px 449px #FFF , 1531px 590px #FFF , 690px 1085px #FFF , 643px 370px #FFF , 1164px 146px #FFF , 1561px 1108px #FFF , 1449px 79px #FFF , 974px 1695px #FFF , 575px 1536px #FFF , 1807px 501px #FFF , 1514px 685px #FFF , 1470px 1980px #FFF , 1060px 744px #FFF , 14px 223px #FFF , 1434px 1648px #FFF , 1269px 245px #FFF , 195px 625px #FFF , 75px 1293px #FFF , 1474px 204px #FFF , 1022px 1127px #FFF , 1136px 1196px #FFF , 964px 1784px #FFF , 924px 1035px #FFF , 1305px 828px #FFF , 1813px 1435px #FFF , 701px 1560px #FFF , 1461px 189px #FFF , 59px 552px #FFF , 830px 1224px #FFF , 1540px 190px #FFF , 571px 903px #FFF , 1899px 809px #FFF , 755px 27px #FFF , 1877px 299px #FFF , 1054px 448px #FFF , 1007px 1929px #FFF , 1781px 965px #FFF , 355px 1890px #FFF , 1493px 396px #FFF , 588px 1399px #FFF , 457px 1980px #FFF , 935px 484px #FFF , 1754px 454px #FFF , 1667px 1660px #FFF , 1580px 419px #FFF , 35px 644px #FFF , 1664px 1580px #FFF , 986px 706px #FFF , 216px 1334px #FFF , 829px 1446px #FFF , 561px 1879px #FFF , 551px 847px #FFF , 225px 729px #FFF , 778px 956px #FFF , 1470px 1583px #FFF , 1272px 1133px #FFF , 631px 305px #FFF , 1955px 1877px #FFF , 1896px 692px #FFF , 838px 1292px #FFF , 1715px 722px #FFF , 1010px 426px #FFF , 223px 285px #FFF , 185px 19px #FFF , 1536px 951px #FFF , 888px 1107px #FFF , 1967px 1990px #FFF , 1683px 667px #FFF , 978px 684px #FFF , 1362px 347px #FFF , 84px 1700px #FFF , 519px 1714px #FFF , 1110px 881px #FFF , 728px 919px #FFF , 229px 1581px #FFF , 85px 614px #FFF , 64px 1220px #FFF , 1223px 1033px #FFF , 965px 52px #FFF , 86px 1203px #FFF , 279px 69px #FFF , 1589px 1074px #FFF , 1346px 1565px #FFF , 752px 1100px #FFF , 1213px 1479px #FFF , 1632px 685px #FFF , 1122px 115px #FFF , 447px 986px #FFF , 1843px 451px #FFF , 369px 1310px #FFF , 1319px 1315px #FFF , 1957px 1054px #FFF , 196px 85px #FFF , 1356px 1263px #FFF , 745px 1634px #FFF , 583px 556px #FFF , 789px 818px #FFF , 1914px 1422px #FFF , 1138px 1966px #FFF , 940px 210px #FFF , 1589px 1036px #FFF , 825px 1269px #FFF , 664px 1495px #FFF , 726px 744px #FFF , 43px 1953px #FFF , 87px 509px #FFF , 798px 1750px #FFF , 133px 352px #FFF , 676px 1954px #FFF , 98px 388px #FFF , 1685px 370px #FFF , 52px 407px #FFF , 1282px 1929px #FFF , 1024px 1567px #FFF , 547px 842px #FFF , 311px 1164px #FFF , 1121px 130px #FFF , 1830px 339px #FFF , 799px 1792px #FFF , 951px 1346px #FFF , 1581px 1198px #FFF , 1265px 21px #FFF , 672px 321px #FFF , 942px 1393px #FFF , 65px 786px #FFF , 956px 290px #FFF , 806px 1457px #FFF , 417px 1117px #FFF , 101px 798px #FFF , 583px 48px #FFF , 3px 1457px #FFF , 1317px 637px #FFF , 398px 110px #FFF , 701px 955px #FFF , 1968px 971px #FFF , 1753px 819px #FFF , 1523px 1467px #FFF , 468px 301px #FFF , 313px 27px #FFF , 87px 1415px #FFF , 989px 690px #FFF , 464px 143px #FFF , 179px 1562px #FFF , 207px 1126px #FFF , 456px 1715px #FFF , 846px 1716px #FFF , 1554px 1149px #FFF , 973px 1134px #FFF , 519px 1555px #FFF , 1866px 612px #FFF , 261px 1422px #FFF , 699px 1799px #FFF , 1785px 72px #FFF , 595px 1029px #FFF , 1336px 1693px #FFF , 122px 1963px #FFF , 181px 220px #FFF , 1181px 248px #FFF , 1488px 1911px #FFF , 1571px 1790px #FFF , 497px 736px #FFF , 560px 228px #FFF , 1317px 713px #FFF , 586px 493px #FFF , 1745px 898px #FFF , 76px 202px #FFF , 1808px 134px #FFF , 702px 1076px #FFF , 1581px 191px #FFF , 935px 577px #FFF , 1273px 1729px #FFF , 1966px 2000px #FFF , 1662px 724px #FFF , 540px 584px #FFF , 848px 615px #FFF , 1444px 1195px #FFF , 522px 1689px #FFF , 1938px 1740px #FFF , 1735px 537px #FFF , 1765px 584px #FFF , 954px 1674px #FFF , 824px 564px #FFF , 1px 496px #FFF , 1451px 1265px #FFF , 1304px 197px #FFF , 881px 1284px #FFF , 756px 342px #FFF , 1406px 1621px #FFF , 979px 285px #FFF , 1629px 616px #FFF , 237px 911px #FFF , 1259px 206px #FFF , 38px 96px #FFF , 712px 623px #FFF , 136px 608px #FFF , 1244px 1870px #FFF , 372px 1853px #FFF , 500px 947px #FFF , 487px 286px #FFF , 1114px 1839px #FFF , 1349px 1268px #FFF , 1294px 34px #FFF , 1197px 623px #FFF , 672px 1379px #FFF , 1427px 513px #FFF , 690px 1328px #FFF , 1865px 795px #FFF , 632px 447px #FFF , 1511px 58px #FFF , 839px 371px #FFF , 1279px 12px #FFF , 1365px 70px #FFF , 1082px 398px #FFF , 1866px 696px #FFF , 240px 1271px #FFF , 1067px 1595px #FFF , 551px 1307px #FFF , 348px 31px #FFF , 529px 1139px #FFF , 539px 1421px #FFF , 1494px 819px #FFF , 1607px 481px #FFF , 1697px 93px #FFF , 1545px 19px #FFF , 1255px 1953px #FFF , 974px 1711px #FFF , 1345px 213px #FFF , 599px 851px #FFF , 319px 331px #FFF , 371px 448px #FFF , 1288px 1116px #FFF , 841px 502px #FFF , 129px 580px #FFF , 477px 1990px #FFF , 1553px 1331px #FFF , 1856px 881px #FFF , 111px 352px #FFF , 462px 1241px #FFF , 1034px 1195px #FFF , 1641px 1009px #FFF , 872px 975px #FFF , 1651px 427px #FFF , 1391px 1044px #FFF , 454px 1446px #FFF , 1279px 486px #FFF , 302px 1225px #FFF , 308px 368px #FFF , 225px 1404px #FFF , 1013px 1158px #FFF , 423px 1289px #FFF , 1997px 1794px #FFF , 1885px 1582px #FFF , 1835px 1423px #FFF , 970px 1960px #FFF , 235px 1654px #FFF , 462px 645px #FFF , 515px 201px #FFF , 1497px 1872px #FFF , 627px 1067px #FFF , 348px 1916px #FFF , 1188px 1295px #FFF , 141px 1232px #FFF , 1196px 517px #FFF , 335px 338px #FFF , 494px 1873px #FFF , 262px 613px #FFF , 1495px 342px #FFF , 931px 275px #FFF , 1397px 142px #FFF , 1479px 25px #FFF , 45px 1004px #FFF , 1605px 868px #FFF , 662px 235px #FFF , 1334px 687px #FFF , 1355px 432px #FFF , 1233px 1608px #FFF , 1380px 171px #FFF , 694px 964px #FFF , 1259px 1387px #FFF , 450px 1581px #FFF , 1784px 1221px #FFF , 316px 1092px #FFF , 1670px 1857px #FFF , 785px 549px #FFF , 1506px 1947px #FFF , 1630px 1350px #FFF , 463px 1566px #FFF , 697px 1072px #FFF , 1001px 1283px #FFF , 847px 585px #FFF , 840px 168px #FFF , 822px 680px #FFF , 1441px 477px #FFF , 294px 966px #FFF , 906px 1537px #FFF , 1371px 695px #FFF , 1996px 1473px #FFF , 1748px 1155px #FFF , 191px 1599px #FFF , 1084px 128px #FFF , 275px 1350px #FFF , 1461px 1027px #FFF , 418px 1441px #FFF , 1426px 1757px #FFF , 653px 1148px #FFF , 1450px 1035px #FFF , 880px 1002px #FFF , 660px 706px #FFF , 1481px 945px #FFF , 510px 89px #FFF , 298px 1483px #FFF , 1971px 185px #FFF , 1435px 1468px #FFF , 144px 783px #FFF , 594px 969px #FFF , 1985px 1862px #FFF , 838px 814px #FFF , 1921px 997px #FFF , 580px 411px #FFF , 74px 1224px #FFF , 1694px 199px #FFF , 1705px 802px #FFF , 593px 1768px #FFF , 1554px 232px #FFF , 49px 1692px #FFF , 1922px 1059px #FFF , 1436px 1697px #FFF , 1711px 918px #FFF , 720px 881px #FFF , 1216px 705px #FFF , 217px 982px #FFF , 1712px 1052px #FFF , 479px 423px #FFF , 347px 732px #FFF , 1028px 1209px #FFF , 1285px 1508px #FFF , 895px 1907px #FFF , 1682px 125px #FFF , 786px 1124px #FFF , 391px 1816px #FFF , 1076px 190px #FFF , 1933px 1934px #FFF , 1739px 798px #FFF , 365px 1807px #FFF , 371px 1736px #FFF , 1044px 417px #FFF , 259px 1745px #FFF , 1160px 1404px #FFF , 1405px 1332px #FFF , 1479px 332px #FFF , 111px 258px #FFF , 1053px 644px #FFF , 463px 694px #FFF , 1526px 576px #FFF , 376px 755px #FFF , 352px 1328px #FFF , 1025px 275px #FFF , 765px 88px #FFF , 124px 1959px #FFF , 1468px 1303px #FFF , 301px 1537px #FFF , 538px 357px #FFF , 1541px 711px #FFF , 614px 1586px #FFF , 1787px 91px #FFF , 405px 737px #FFF , 1927px 1941px #FFF , 1394px 1307px #FFF , 1086px 1670px #FFF , 338px 802px #FFF , 1308px 1502px #FFF , 1408px 741px #FFF , 27px 1662px #FFF , 448px 1410px #FFF , 359px 1758px #FFF , 1948px 175px #FFF , 1782px 585px #FFF , 146px 1260px #FFF , 1802px 945px #FFF , 428px 1537px #FFF , 1410px 1072px #FFF , 109px 1700px #FFF , 476px 17px #FFF , 1617px 1631px #FFF , 1965px 840px #FFF , 1475px 1462px #FFF , 574px 1617px #FFF , 818px 828px #FFF , 1490px 1295px #FFF , 1491px 1572px #FFF , 1154px 1663px #FFF , 493px 1266px #FFF , 1136px 1121px #FFF , 71px 159px #FFF , 1861px 493px #FFF , 376px 1409px #FFF , 1168px 337px #FFF;
}

#stars2 {
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 366px 1477px #FFF , 227px 1401px #FFF , 309px 449px #FFF , 1535px 936px #FFF , 464px 1653px #FFF , 351px 1514px #FFF , 1909px 1547px #FFF , 1359px 1343px #FFF , 1724px 1206px #FFF , 1913px 1203px #FFF , 1920px 1520px #FFF , 1352px 1204px #FFF , 1516px 1820px #FFF , 1815px 1732px #FFF , 505px 1339px #FFF , 1818px 617px #FFF , 1717px 303px #FFF , 1413px 1832px #FFF , 135px 595px #FFF , 5px 1596px #FFF , 390px 1647px #FFF , 937px 805px #FFF , 227px 1821px #FFF , 1452px 1641px #FFF , 477px 167px #FFF , 1999px 1978px #FFF , 726px 1100px #FFF , 1036px 1141px #FFF , 921px 1690px #FFF , 1303px 51px #FFF , 101px 1209px #FFF , 623px 886px #FFF , 1093px 622px #FFF , 1802px 1268px #FFF , 809px 1107px #FFF , 1943px 670px #FFF , 296px 1465px #FFF , 1495px 1390px #FFF , 1306px 293px #FFF , 1812px 760px #FFF , 377px 1170px #FFF , 445px 1511px #FFF , 108px 54px #FFF , 1842px 1442px #FFF , 759px 1668px #FFF , 1497px 1309px #FFF , 167px 1915px #FFF , 9px 348px #FFF , 1182px 1818px #FFF , 303px 1528px #FFF , 1350px 76px #FFF , 1958px 638px #FFF , 1490px 1441px #FFF , 446px 724px #FFF , 937px 1924px #FFF , 983px 1630px #FFF , 1759px 522px #FFF , 851px 1429px #FFF , 60px 210px #FFF , 1980px 1837px #FFF , 1681px 1882px #FFF , 1391px 1573px #FFF , 59px 392px #FFF , 344px 1298px #FFF , 1674px 1876px #FFF , 1547px 1179px #FFF , 850px 1319px #FFF , 1809px 358px #FFF , 1457px 895px #FFF , 1118px 889px #FFF , 1621px 4px #FFF , 1853px 604px #FFF , 1848px 717px #FFF , 1186px 527px #FFF , 1069px 1307px #FFF , 1647px 930px #FFF , 285px 1200px #FFF , 513px 1309px #FFF , 1923px 1336px #FFF , 238px 1832px #FFF , 1669px 1967px #FFF , 908px 627px #FFF , 696px 314px #FFF , 612px 357px #FFF , 1090px 877px #FFF , 920px 1232px #FFF , 1979px 1673px #FFF , 257px 1529px #FFF , 1961px 1819px #FFF , 1351px 720px #FFF , 387px 1892px #FFF , 1526px 95px #FFF , 796px 977px #FFF , 1773px 1510px #FFF , 1301px 608px #FFF , 883px 1980px #FFF , 1505px 1644px #FFF , 853px 1984px #FFF , 662px 1244px #FFF , 985px 595px #FFF , 1339px 1348px #FFF , 1221px 1268px #FFF , 1470px 210px #FFF , 517px 1330px #FFF , 605px 371px #FFF , 406px 277px #FFF , 526px 1452px #FFF , 1348px 1785px #FFF , 1378px 1363px #FFF , 2000px 1180px #FFF , 1820px 23px #FFF , 1528px 616px #FFF , 1795px 128px #FFF , 1955px 280px #FFF , 487px 116px #FFF , 155px 158px #FFF , 383px 801px #FFF , 1568px 192px #FFF , 1234px 606px #FFF , 960px 1457px #FFF , 1989px 872px #FFF , 1437px 1816px #FFF , 672px 1518px #FFF , 1575px 1450px #FFF , 1952px 1689px #FFF , 1542px 1203px #FFF , 1676px 1245px #FFF , 162px 173px #FFF , 303px 104px #FFF , 1714px 171px #FFF , 1022px 155px #FFF , 1826px 1465px #FFF , 38px 1607px #FFF , 324px 1895px #FFF , 1051px 425px #FFF , 89px 1243px #FFF , 665px 1123px #FFF , 1337px 810px #FFF , 1173px 832px #FFF , 182px 979px #FFF , 1917px 790px #FFF , 1822px 1191px #FFF , 1047px 1369px #FFF , 1154px 1477px #FFF , 783px 1883px #FFF , 1701px 234px #FFF , 691px 1799px #FFF , 689px 1688px #FFF , 1528px 1803px #FFF , 1648px 577px #FFF , 1147px 289px #FFF , 387px 1761px #FFF , 445px 1486px #FFF , 37px 739px #FFF , 1774px 1130px #FFF , 1106px 1800px #FFF , 1548px 10px #FFF , 1885px 159px #FFF , 1549px 1175px #FFF , 1407px 251px #FFF , 272px 1950px #FFF , 11px 895px #FFF , 588px 1972px #FFF , 1839px 414px #FFF , 1611px 429px #FFF , 467px 1014px #FFF , 517px 1195px #FFF , 1811px 472px #FFF , 182px 1835px #FFF , 1225px 297px #FFF , 987px 644px #FFF , 1474px 92px #FFF , 1009px 1823px #FFF , 1141px 208px #FFF , 270px 1755px #FFF , 1898px 655px #FFF , 923px 1566px #FFF , 157px 1585px #FFF , 1585px 1497px #FFF , 598px 22px #FFF , 119px 1649px #FFF , 3px 31px #FFF , 1467px 534px #FFF , 1701px 1333px #FFF , 55px 617px #FFF , 1505px 1330px #FFF , 922px 238px #FFF , 706px 189px #FFF , 734px 758px #FFF , 319px 1995px #FFF , 54px 772px #FFF , 868px 26px #FFF , 1187px 1643px #FFF , 1927px 790px #FFF , 171px 1871px #FFF , 1525px 1738px #FFF , 232px 1925px #FFF , 117px 309px #FFF , 170px 1360px #FFF , 634px 573px #FFF;
    animation: animStar 100s linear infinite;
}
#stars2:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 366px 1477px #FFF , 227px 1401px #FFF , 309px 449px #FFF , 1535px 936px #FFF , 464px 1653px #FFF , 351px 1514px #FFF , 1909px 1547px #FFF , 1359px 1343px #FFF , 1724px 1206px #FFF , 1913px 1203px #FFF , 1920px 1520px #FFF , 1352px 1204px #FFF , 1516px 1820px #FFF , 1815px 1732px #FFF , 505px 1339px #FFF , 1818px 617px #FFF , 1717px 303px #FFF , 1413px 1832px #FFF , 135px 595px #FFF , 5px 1596px #FFF , 390px 1647px #FFF , 937px 805px #FFF , 227px 1821px #FFF , 1452px 1641px #FFF , 477px 167px #FFF , 1999px 1978px #FFF , 726px 1100px #FFF , 1036px 1141px #FFF , 921px 1690px #FFF , 1303px 51px #FFF , 101px 1209px #FFF , 623px 886px #FFF , 1093px 622px #FFF , 1802px 1268px #FFF , 809px 1107px #FFF , 1943px 670px #FFF , 296px 1465px #FFF , 1495px 1390px #FFF , 1306px 293px #FFF , 1812px 760px #FFF , 377px 1170px #FFF , 445px 1511px #FFF , 108px 54px #FFF , 1842px 1442px #FFF , 759px 1668px #FFF , 1497px 1309px #FFF , 167px 1915px #FFF , 9px 348px #FFF , 1182px 1818px #FFF , 303px 1528px #FFF , 1350px 76px #FFF , 1958px 638px #FFF , 1490px 1441px #FFF , 446px 724px #FFF , 937px 1924px #FFF , 983px 1630px #FFF , 1759px 522px #FFF , 851px 1429px #FFF , 60px 210px #FFF , 1980px 1837px #FFF , 1681px 1882px #FFF , 1391px 1573px #FFF , 59px 392px #FFF , 344px 1298px #FFF , 1674px 1876px #FFF , 1547px 1179px #FFF , 850px 1319px #FFF , 1809px 358px #FFF , 1457px 895px #FFF , 1118px 889px #FFF , 1621px 4px #FFF , 1853px 604px #FFF , 1848px 717px #FFF , 1186px 527px #FFF , 1069px 1307px #FFF , 1647px 930px #FFF , 285px 1200px #FFF , 513px 1309px #FFF , 1923px 1336px #FFF , 238px 1832px #FFF , 1669px 1967px #FFF , 908px 627px #FFF , 696px 314px #FFF , 612px 357px #FFF , 1090px 877px #FFF , 920px 1232px #FFF , 1979px 1673px #FFF , 257px 1529px #FFF , 1961px 1819px #FFF , 1351px 720px #FFF , 387px 1892px #FFF , 1526px 95px #FFF , 796px 977px #FFF , 1773px 1510px #FFF , 1301px 608px #FFF , 883px 1980px #FFF , 1505px 1644px #FFF , 853px 1984px #FFF , 662px 1244px #FFF , 985px 595px #FFF , 1339px 1348px #FFF , 1221px 1268px #FFF , 1470px 210px #FFF , 517px 1330px #FFF , 605px 371px #FFF , 406px 277px #FFF , 526px 1452px #FFF , 1348px 1785px #FFF , 1378px 1363px #FFF , 2000px 1180px #FFF , 1820px 23px #FFF , 1528px 616px #FFF , 1795px 128px #FFF , 1955px 280px #FFF , 487px 116px #FFF , 155px 158px #FFF , 383px 801px #FFF , 1568px 192px #FFF , 1234px 606px #FFF , 960px 1457px #FFF , 1989px 872px #FFF , 1437px 1816px #FFF , 672px 1518px #FFF , 1575px 1450px #FFF , 1952px 1689px #FFF , 1542px 1203px #FFF , 1676px 1245px #FFF , 162px 173px #FFF , 303px 104px #FFF , 1714px 171px #FFF , 1022px 155px #FFF , 1826px 1465px #FFF , 38px 1607px #FFF , 324px 1895px #FFF , 1051px 425px #FFF , 89px 1243px #FFF , 665px 1123px #FFF , 1337px 810px #FFF , 1173px 832px #FFF , 182px 979px #FFF , 1917px 790px #FFF , 1822px 1191px #FFF , 1047px 1369px #FFF , 1154px 1477px #FFF , 783px 1883px #FFF , 1701px 234px #FFF , 691px 1799px #FFF , 689px 1688px #FFF , 1528px 1803px #FFF , 1648px 577px #FFF , 1147px 289px #FFF , 387px 1761px #FFF , 445px 1486px #FFF , 37px 739px #FFF , 1774px 1130px #FFF , 1106px 1800px #FFF , 1548px 10px #FFF , 1885px 159px #FFF , 1549px 1175px #FFF , 1407px 251px #FFF , 272px 1950px #FFF , 11px 895px #FFF , 588px 1972px #FFF , 1839px 414px #FFF , 1611px 429px #FFF , 467px 1014px #FFF , 517px 1195px #FFF , 1811px 472px #FFF , 182px 1835px #FFF , 1225px 297px #FFF , 987px 644px #FFF , 1474px 92px #FFF , 1009px 1823px #FFF , 1141px 208px #FFF , 270px 1755px #FFF , 1898px 655px #FFF , 923px 1566px #FFF , 157px 1585px #FFF , 1585px 1497px #FFF , 598px 22px #FFF , 119px 1649px #FFF , 3px 31px #FFF , 1467px 534px #FFF , 1701px 1333px #FFF , 55px 617px #FFF , 1505px 1330px #FFF , 922px 238px #FFF , 706px 189px #FFF , 734px 758px #FFF , 319px 1995px #FFF , 54px 772px #FFF , 868px 26px #FFF , 1187px 1643px #FFF , 1927px 790px #FFF , 171px 1871px #FFF , 1525px 1738px #FFF , 232px 1925px #FFF , 117px 309px #FFF , 170px 1360px #FFF , 634px 573px #FFF;
}

#stars3 {
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 1817px 1872px #FFF , 1004px 1307px #FFF , 274px 1892px #FFF , 1618px 1841px #FFF , 130px 223px #FFF , 701px 677px #FFF , 1464px 1064px #FFF , 1590px 702px #FFF , 14px 290px #FFF , 864px 1988px #FFF , 1747px 861px #FFF , 207px 532px #FFF , 1081px 966px #FFF , 1575px 962px #FFF , 542px 1574px #FFF , 255px 414px #FFF , 632px 231px #FFF , 50px 1302px #FFF , 173px 360px #FFF , 525px 1491px #FFF , 1742px 373px #FFF , 1637px 1968px #FFF , 714px 299px #FFF , 327px 1787px #FFF , 134px 1523px #FFF , 1962px 700px #FFF , 1717px 440px #FFF , 843px 1236px #FFF , 1462px 944px #FFF , 1485px 1854px #FFF , 1871px 182px #FFF , 1910px 1446px #FFF , 1771px 529px #FFF , 1245px 196px #FFF , 1533px 199px #FFF , 695px 1079px #FFF , 291px 396px #FFF , 1269px 322px #FFF , 1435px 775px #FFF , 791px 494px #FFF , 918px 1490px #FFF , 675px 420px #FFF , 1184px 1036px #FFF , 1425px 1697px #FFF , 1255px 1596px #FFF , 330px 1015px #FFF , 1395px 1029px #FFF , 775px 1415px #FFF , 606px 1478px #FFF , 533px 1383px #FFF , 633px 304px #FFF , 1288px 7px #FFF , 1537px 1482px #FFF , 1322px 1288px #FFF , 805px 1747px #FFF , 1354px 1588px #FFF , 1197px 1266px #FFF , 1928px 481px #FFF , 1503px 413px #FFF , 1731px 1414px #FFF , 1973px 29px #FFF , 350px 1875px #FFF , 87px 307px #FFF , 183px 1335px #FFF , 669px 1569px #FFF , 1252px 1164px #FFF , 473px 476px #FFF , 1342px 658px #FFF , 1309px 1522px #FFF , 1419px 811px #FFF , 525px 956px #FFF , 909px 669px #FFF , 577px 978px #FFF , 162px 463px #FFF , 1637px 1730px #FFF , 89px 862px #FFF , 76px 496px #FFF , 1761px 683px #FFF , 741px 1412px #FFF , 1262px 1542px #FFF , 1704px 295px #FFF , 1155px 437px #FFF , 927px 1961px #FFF , 1169px 943px #FFF , 189px 90px #FFF , 222px 1039px #FFF , 1387px 7px #FFF , 1027px 168px #FFF , 891px 291px #FFF , 233px 382px #FFF , 978px 1340px #FFF , 910px 1478px #FFF , 1396px 1217px #FFF , 1528px 773px #FFF , 1650px 650px #FFF , 664px 599px #FFF , 1313px 528px #FFF , 1691px 639px #FFF , 194px 764px #FFF , 96px 413px #FFF;
    animation: animStar 150s linear infinite;
}
#stars3:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 1817px 1872px #FFF , 1004px 1307px #FFF , 274px 1892px #FFF , 1618px 1841px #FFF , 130px 223px #FFF , 701px 677px #FFF , 1464px 1064px #FFF , 1590px 702px #FFF , 14px 290px #FFF , 864px 1988px #FFF , 1747px 861px #FFF , 207px 532px #FFF , 1081px 966px #FFF , 1575px 962px #FFF , 542px 1574px #FFF , 255px 414px #FFF , 632px 231px #FFF , 50px 1302px #FFF , 173px 360px #FFF , 525px 1491px #FFF , 1742px 373px #FFF , 1637px 1968px #FFF , 714px 299px #FFF , 327px 1787px #FFF , 134px 1523px #FFF , 1962px 700px #FFF , 1717px 440px #FFF , 843px 1236px #FFF , 1462px 944px #FFF , 1485px 1854px #FFF , 1871px 182px #FFF , 1910px 1446px #FFF , 1771px 529px #FFF , 1245px 196px #FFF , 1533px 199px #FFF , 695px 1079px #FFF , 291px 396px #FFF , 1269px 322px #FFF , 1435px 775px #FFF , 791px 494px #FFF , 918px 1490px #FFF , 675px 420px #FFF , 1184px 1036px #FFF , 1425px 1697px #FFF , 1255px 1596px #FFF , 330px 1015px #FFF , 1395px 1029px #FFF , 775px 1415px #FFF , 606px 1478px #FFF , 533px 1383px #FFF , 633px 304px #FFF , 1288px 7px #FFF , 1537px 1482px #FFF , 1322px 1288px #FFF , 805px 1747px #FFF , 1354px 1588px #FFF , 1197px 1266px #FFF , 1928px 481px #FFF , 1503px 413px #FFF , 1731px 1414px #FFF , 1973px 29px #FFF , 350px 1875px #FFF , 87px 307px #FFF , 183px 1335px #FFF , 669px 1569px #FFF , 1252px 1164px #FFF , 473px 476px #FFF , 1342px 658px #FFF , 1309px 1522px #FFF , 1419px 811px #FFF , 525px 956px #FFF , 909px 669px #FFF , 577px 978px #FFF , 162px 463px #FFF , 1637px 1730px #FFF , 89px 862px #FFF , 76px 496px #FFF , 1761px 683px #FFF , 741px 1412px #FFF , 1262px 1542px #FFF , 1704px 295px #FFF , 1155px 437px #FFF , 927px 1961px #FFF , 1169px 943px #FFF , 189px 90px #FFF , 222px 1039px #FFF , 1387px 7px #FFF , 1027px 168px #FFF , 891px 291px #FFF , 233px 382px #FFF , 978px 1340px #FFF , 910px 1478px #FFF , 1396px 1217px #FFF , 1528px 773px #FFF , 1650px 650px #FFF , 664px 599px #FFF , 1313px 528px #FFF , 1691px 639px #FFF , 194px 764px #FFF , 96px 413px #FFF;
}

#title {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    color: #FFF;
    text-align: center;
    font-family: "lato", sans-serif;
    font-weight: 300;
    font-size: 50px;
    letter-spacing: 10px;
    margin-top: -60px;
    padding-left: 10px;
}
#title span {
    background: -webkit-linear-gradient(white, #38495a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes animStar {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-2000px);
    }
}

body {
    margin: 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c3d9ff+0,b1c8ef+41,98b0d9+100;Lavender+3D */
    /*background-image: url("../img/background.jpg");*/
    background-repeat: repeat;
    background-attachment: fixed;
    font-family: sans-serif;
    font-weight: 300;
    background-color: #010f07;
    }

header {
    height:90px;
    border-radius: 10px;
    width:100%;
    z-index:10;
    position: fixed;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#040200+0,080300+100&1+0,0+100 */
    background: -moz-linear-gradient(top,  rgba(4,2,0,1) 0%, rgba(8,3,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(4,2,0,1) 0%,rgba(8,3,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(4,2,0,1) 0%,rgba(8,3,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#040200', endColorstr='#00080300',GradientType=0 ); /* IE6-9 */

}

#banner {
    width:100%;
    height:700px;
    position: fixed;
    top:300px;
    margin-bottom: 100px;
    padding-bottom: 50px;
}

#content {
    width:100%;
    position: relative;
    top:700px;
    height:1500px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */

}



.contain {
    width:80%;
    margin: 0 auto;
}

.logo {
    float: left;
    padding: 10px 0;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

nav {
    margin-left: 80px;
}

nav ul {
    margin:0;
    padding:0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin-left: 70px;
    padding-top: 39px;
    position: relative;
}

nav a {
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;

}

nav a:hover {
    color: #000;
    text-decoration: blink;
    text-shadow: 0 1px 0 white;

}

nav a::before {
    content: '';
    display: block;
    height: 5px;

    background-color: #2fd6ff;

    position: absolute;
    top:0;
    width:0;

    transition: all ease-in-out 250ms;
;
}

nav a:hover::before {
    width:100%;
}

.thumbs ul {
    margin:0;
    padding:0;
    list-style: none;
}

.thumbs li {
    display: inline-block;
    position: relative;
}

.thumbs a {
    text-decoration: none;
    color: #444;
}

.header a {
    text-decoration: none;
    color: #586eff;
    transition: all .2s linear;
}

.header h1 {
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
}

.header a:hover {
    text-decoration: none;
    color: #ffffff;
    text-shadow: 0 0 1px white;
}

.look li {
    font-weight: bold;
    color: #000;
    text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
    transition: all .2s linear;
}




.moback {
    background: rgba(179,220,237,1);
    background: -moz-linear-gradient(top, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
    /*background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(179,220,237,1)), color-stop(50%, rgba(41,184,229,1)), color-stop(100%, rgba(188,224,238,1)));*/
    background: -webkit-linear-gradient(top, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
    background: -o-linear-gradient(top, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
    background: -ms-linear-gradient(top, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
    background: linear-gradient(to bottom, rgba(179,220,237,1) 0%, rgba(41,184,229,1) 50%, rgba(188,224,238,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3dced', endColorstr='#bce0ee', GradientType=0 );




}

.back h4 {
    text-align: center;
    color: #010f07;
    font-weight: bold;
}

.tab {
    text-align: center;
}

#list a {
    background-color: transparent;
    font-size: large;
    color: #2aabd2;
}

#list a:hover {
    text-shadow: 0 0 5px #ffff;
}

#login {
    margin:5px;
    padding:5px;
    position: relative;
    text-align: center;

}

#login label {
    margin: 5px;
    padding:5px;
    font-size: larger;
    color: #010f07;
}

#login input {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    height:30px;
    width: auto;
}

#register {
    margin:5px;
    padding:5px;
    position: relative;
    text-align: center;

}

#register input[type=text], input[type=email], input[type=password], input[type=date] {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    height:35px;
    width: 300px;
}

#login, #register button {
    margin:10px;
}

#register label {
    margin: 5px;
    padding:5px;
    font-size: larger;
    color: #ffffff;
}

.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

#footemail {
    margin-left: 235px;
}

.backfoot {
    background-color: #d1d1d1;
    height: 300px;
    padding: 30px;
    margin:5px;
}

.social {
    margin-top: 50px;
}

.social img {
    height:50px;
    width: 50px;
}



.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#twit::before {
    content: '';
    display: block;
    height: 10px;


    background-color: #55ACEE;

    position: absolute;
    bottom:-40px;
    width:0;

    transition: all ease-in-out 350ms;
}

#twit:hover::before {
    width: 60%;
}

#fb::before {
    content: '';
    display: block;
    height: 10px;

    background-color: #3b5998;

    position: absolute;
    bottom:-40px;
    width:0;

    transition: all ease-in-out 350ms;
}

#fb:hover::before {
    width: 60%;
}

#you::before {
    content: '';
    display: block;
    height: 10px;

    background-color: #dd4b39;

    position: absolute;
    bottom:-40px;
    width:0;

    transition: all ease-in-out 350ms;
}

#you:hover::before {
    width: 60%;
}

#goo::before {
    content: '';
    display: block;
    height: 10px;

    background-color: #c4302b;

    position: absolute;
    bottom:-40px;
    width:0;

    transition: all ease-in-out 350ms;
}

#goo:hover::before {
    width: 60%;
}



.container:hover {
    text-decoration: blink;
    color: #ffffff;
    text-shadow: 0 0 10px white;
    cursor: default;
}

#abouts {
    margin: 5px;
    padding: 45px;

}

#abouts img {
    height:300px;
    width:300px;
}

.info {

    margin:35px;
    padding: 10px;
}

.backs {
    background-color: #FFFFFF;
    margin: 5px;
}

.flip3d > .frontflip {
    position: absolute;
    transform: perspective(600px) rotateY(0deg);
    backface-visibility: hidden;
    transition: transform .9s linear 0s;
}

.flip3d > .backflip {
    position: absolute;
    transform: perspective( 600px ) rotateY(180deg);
    backface-visibility: hidden;
    transition: transform .9s linear 0s;
}

.flip3d:hover > .frontflip {
    transform: perspective(600px) rotateY(-180deg);
}

.flip3d:hover > .backflip {
    transform: perspective(600px) rotateY(0deg);
}


.info p {
    font-size:18px;
}











































